.button{
    cursor: pointer;
    outline: none;
    font-family: $basicFont;

    &--start{
        position: absolute;
        align-self: center;

        font-size: 2rem;
        text-transform: uppercase;
        color: rgba($white, .3);
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .3);
        transition: all ease-out 600ms;
        transform: scale(0);

        &:hover{
            border-radius: 40% 40% 4px;
            border: 2px solid rgba(255, 255, 255, 1);
            color: $white;
            background-color: rgba(black, .6);
            transition: all ease-in 300ms;
        }
    }

    &__control-panel{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 3px;
        border-radius: 50%;
        border: 0;
        outline: none;

        &--red{
            background-color: $macRed;
        }
        &--yellow{
            background-color: $macYellow;
        }
        &--green{
            background-color: $macGreen;
        }
    }

    body:hover &--start{
        transform: scale(1);
    }

    &--go-back{
        background-color: transparent;
        filter: brightness(0) invert(1);
        border: none;
        .img{
            margin-left: 3px; // for reduce the animation offset
            height: 2rem;
            animation-name: backButton;
            animation-duration: 1s;
            animation-iteration-count: infinite;

            @media(max-width: $tablet){
                height: 4rem;
            }
        }
    }
}