.article-cv{
    padding-bottom: 5rem; //fix height
    line-height: 150%;

    &__header{
        @include big-bottom-space;

        .name{
            // @include small-bottom-space;
        }
        .role{
            @include small-bottom-space;
        }
        .basics-info{
            &__item{
                .name{font-weight: 600}
                .link{text-decoration: underline}
            }
        }
    }

    &__info-block{
        @include big-bottom-space;

        .header{
            @include medium-bottom-space;
        }

        &--experience{
            .item{
                &__firm-name{
                    @include extra-small-bottom-space;
                }
                &__work-time{
                    @include extra-small-bottom-space;
                }
                &__position-name{
                    @include medium-bottom-space;
                }
            }
        }
    }

    &__download-section{
        .info{
            @include small-bottom-space;
        }
        .download-info{
            font-size: 10px;
            font-weight: 400;
            font-family: $basicText;
        }
        .button{
            display: inline-block;

            border: 1px solid;
            text-decoration: none;
            font-size: 1rem;
            padding: 0px 20px;
            border-radius: 3px;
            background-color: rgba($lightBlue, .8);
            border-color: rgba($lightBlue, 1);
            color: $white;
            transition: all ease-in-out 400ms;

            &:hover{
                background-color: rgba($lightBlue, 1);
                transform: translateY(-2px);
            }

            &:active{
                transform: translateY(0px);
            }
        }
    }
}