.logo{
    margin: 3rem 2rem;
    font-size: 2.5rem;
    position: absolute;
    z-index: $z_index_max;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-border{
    border: 2px solid #fff;
    position: absolute;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, .6);
    transition: all ease 1000ms;
}
.logo-border:hover{
    border-radius: 50%;
    transition: all ease 1000ms;
    transform: rotate(180deg);
}
.letter{
    display: block;
    text-shadow: 2px 2px 7px rgba(255, 0, 0, 1);
}