.list{
    &__item{
        cursor: pointer;
        transition: all ease-in-out 350ms;
        &:hover{
            transform: scale(1.02);
            text-shadow: 2px 2px 30px rgba(rgb(218, 255, 255), .55);
            color: $white;
        }
    }

    &--page-menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
        opacity: 0;
        text-transform: uppercase;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
        z-index: $z_index_med;

        animation-name: show_menu;
        animation-duration: 1500ms;
        animation-delay: 100ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
}

.hideHorizontalMenu{
    .list__item{
        transform: scale(0);
        transition: all ease-out 1000ms;
    }
}

.leftSideMenu{
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(black, .85);
    position: absolute;
    left: -100px;
    transition: all ease 1500ms;

    h1{
        font-size: 2rem;
    }

    .list__item{
        margin: 1rem 2rem;
        transform: scale(1);
        transition: all ease;
        h1{
            width: fit-content;
            position: relative;
        }
        &:hover{
            h1{
                &:after{
                    width: 100%;
                }
            }
            
        }

        h1{
            &:after{
                @include before-after;
                width: 0;
                height: 3px;
                bottom: -3px;
                left: 0;
                background-color: $white;
                transition: width ease-in-out 250ms;
            }
        }

       
    }

    &:hover{
        left: 0px !important;
        transition: all ease 500ms;
    }
}