.list{
    &__item{
        cursor: pointer;
    }

    &--page-menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
        opacity: 0;

        animation-name: show_menu;
        animation-duration: 1500ms;
        animation-delay: 100ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
}