.single-ability{
    @include small-bottom-space;

    width: 30%;
    display: flex;
    justify-content: space-between;

    &__name{
        text-transform: uppercase;
    }
    &__progress-bar{
        -webkit-appearance: none;
        &::-webkit-progress-bar{
            background: transparent;
            border: 1px solid rgba($lightBlue, .4);
            border-radius: 10px;
            height: 7px;
            box-shadow: 2px 2px 5px rgba($white, .2); // for test on windows
        }
        &::-webkit-progress-value{
            background: $lightBlue;
            transition: width ease 800ms;
        }
    }
}