.single-project {
	width: 40rem;
	opacity: .85;
	@include big-space-desktop;
	transition: opacity ease-in-out 200ms;

	@media (max-width: $smallDesktop) {
		width: 35rem;
	}

	@media (max-width: 940px) {
		width: 55rem;
	}

	@media (max-width: $tablet) {
		width: 75%;
	}

	@media (max-width: $phone) {
		width: 100%;
	}

	&:hover {
		opacity: 1;
		transition: opacity ease-in-out 400ms;
		.tag {
			opacity: 0;
			z-index: -1;
			transition: all ease-in-out 400ms;
			animation-name: hideHtml;
			animation-delay: 450ms;
		}

		@keyframes hideHtml {
			0% {
				display: block;
			}
			100% {
				display: none;
			}
		}
	}

	&__header {
		z-index: $z_index_max;
		position: relative;

		.control-panel {
			background-color: $macBarGray;
			display: flex;
			align-items: center;
			padding: .5rem;
			border-radius: 3px 3px 0 0;

			&__title {
				color: $macFontGray;
				font-size: 1.2rem;
				width: fit-content;
				margin: 0 auto;

				@media (max-width: $tablet) {
					font-size: 2.5rem;
				}

				@media (max-width: $phone) {
					font-size: 2rem;
				}
			}
		}

		.favourite {
			position: absolute;
			right: 7px;
			filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .7));
		}
	}

	&__img-holder {
		position: relative;

		&:hover .img--2 {
			opacity: 1;
		}

		&:hover .overlay {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}

		.overlay {
			font-family: $basicText;
			position: absolute;
			background-color: rgba($black, .6);
			transform: translateY(-100%);
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: $z_index_med;
			padding: 2rem 1.5rem;
			pointer-events: none; // fix for jumping overlay

			transition: all ease-in-out 350ms;

			@media (max-width: $smallTablet) {
				display: none;
			}

			@media (max-width: $tablet) {
				font-size: 3rem;
			}

			@media (max-width: $phoneLandscape) and (orientation: landscape) {
				font-size: 2.2rem;
			}

			&__header {
				@include small-space-desktop;
				text-align: center;
				display: flex;
				flex-direction: column;

				.header {
					font-weight: 400;
				}

				.read-more {
					@include medium-space-desktop;
					text-decoration: none;
					border-radius: 2px;
					background-color: $macBarGray;
					color: $macFontGray;
					// font-size: 1.2rem;
					width: fit-content;
					align-self: center;
					padding: .5rem 1.5rem;
					transition: all ease-in-out 150ms;

					&:hover {
						box-shadow: 3px 3px 10px $black;
						text-shadow: 0px 0px 10px rgba($black, .3);
						transform: scale(1.005);
					}
				}
			}

			.link-section {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.link {
					@include small-space-desktop;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						left: 0;
						bottom: -2px;
						width: 0;
						height: 2px;
						background-color: $white;
						transition: width ease-in-out 200ms;
					}

					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
				.link {
					&:nth-child(3) {
						margin: 0 auto;
						cursor: pointer;
					}
					&:nth-child(4) {
						margin: 0 auto;
						cursor: pointer;
					}
				}
			}
		}

		.img {
			transition: opacity ease-in-out 350ms;

			&--2 {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.tag {
			position: absolute;
			z-index: 999;
			right: -10%;
			bottom: 53px;
			bottom: 18%;
			transform: rotate(-52deg);
			padding: 5px 4rem;

			opacity: 1;
			transition: opacity ease-in-out 400ms;

			// clip-path: polygon(0% 0, 100% 0, 79% 100%, 14% 100%);
			clip-path: polygon(0% 0, 100% 0, 75% 100%, 15% 100%);

			// TODO: fix on each devices (shape of tag)

			@media (max-width: $smallDesktop) {
				bottom: 20%;
				right: -11%;
			}

			@media (max-width: 940px) {
				bottom: 4rem;
				right: -4rem;
			}

			@media (max-width: $tablet) {
				font-size: 1.8rem;
				right: -4.5rem;
				bottom: 3.8rem;
				clip-path: polygon(0% 0, 100% 0, 72% 100%, 18% 100%);
			}

			&--finished {
				background-color: green;
			}

			&--in-progress {
				background-color: darken(orange, 10%);

				//fix layout 'in progress' is to long for standard tag cuz shall be customized
				bottom: 22%;
				right: -11.5%;
				clip-path: polygon(0% 0, 100% 0, 78% 100%, 14% 102%);

				@media (max-width: $smallDesktop) {
					bottom: 24%;
					right: -13%;
				}

				@media (max-width: 940px) {
					bottom: 4.5rem;

					right: -4.5rem;
				}

				@media (max-width: $tablet) {
					// right: -7.5%;
					// bottom: 14%;

					right: -5.1rem;
					bottom: 5rem;

					clip-path: polygon(0% 0, 100% 0, 77% 100%, 14.5% 100%);
				}
			}

			&--closed {
				background-color: gray;
			}
		}
	}
}
