.single-ability{
    @include small-bottom-space;

    width: 30%;
    display: flex;
    justify-content: space-between;

    @media(max-width: $tablet){
        width: 75%;
    }

    &__name{
        text-transform: uppercase;
    }
    &__progress-bar{
        -webkit-appearance: none;
        &::-webkit-progress-bar{
            background: transparent;
            border: 1px solid rgba($lightBlue, .4);
            border-radius: 10px;
            height: 7px;
            box-shadow: 2px 2px 5px rgba($white, .2); // for test on windows
        }
        &::-webkit-progress-value{
            background: $lightBlue;
            transition: width ease 800ms;
        }
    }
}

[data-title] {
    position: relative;
    cursor: help;
}
  
[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    top: -35px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
    border-bottom: 8px solid rgba(#fff, .7);
}