.view__header{
    @include medium-bottom-space;

    @media(max-width: $tablet){
        margin-left: 10%;
        line-height: 1;
        h2{
            font-size: 6rem;
        }
    }

    @media(max-width: $phoneLandscape) and (orientation: landscape){
     padding-top: 2rem;
    }

    .header-letter{
        padding: 0;
        margin: 0;
        cursor: default;
        display: inline-block;
        transition: all ease-in-out 150ms;
        &:hover{
            transform: translateY(5px);
            color: rgb(99, 98, 98);
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;
        }
    }
}

.view--project{
    .view__header{
        @media (max-width: $phone){
            margin-left: 0;
        }
    }
}