@keyframes show_menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY( calc(50vh - 50%) )
    }
}

@keyframes leftSideMenu{
    // 0%{
    //     transform: scale(1) translateX(-120px);
    // }

    // 20%{
    //     transform: scale(1) translateX(0);
    // }

    // 70%{
    //     transform: scale(1) translateX(0);
    // }

    // 100%{
    //     transform: scale(1) translateX(-90px);
    // }
}

.hideStartButton{
    animation-name: hide_start_button;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes hide_start_button{
    0% {
        opacity: 1;
        transform: scale(1);
    }

    25% {
        border-radius: 50%;
    }

    100% {
        opacity: 0;
        transform: scale(0);
        border-radius: 50%;
    }
}