// SPACES

@mixin small-space-desktop {
    margin: 1rem 0;
}

@mixin medium-space-desktop {
    margin: 2rem 0;
}

@mixin big-space-desktop {
    margin: 4rem 0;
}

//

@mixin extra-small-bottom-space {
    margin-bottom: .5rem;
}

@mixin small-bottom-space {
    margin-bottom: 1rem;
}

@mixin medium-bottom-space {
    margin-bottom: 2rem;
}


@mixin big-bottom-space {
    margin-bottom: 3.5rem;
}

// before, after

@mixin before-after {
    content: '';
    position: absolute;
}