// COLORS
$white: #fff;
$black: #000;

$macGreen: #29c941;
$macYellow: #febd2e;
$macRed: #fe5f58;
$macBarGray: #dee1e6;
$macFontGray: #5e6268;
$lightBlue: #3b88fc;

// FONTS
$basicFont: 'Orbitron', sans-serif;
$barcode: 'Libre Barcode 39 Text';
$basicText: 'Montserrat', sans-serif;


//Z-INDEXS
$z_index_max: 999;
$z_index_med: 500;
$z_index_min: 0;

// BREAKPOINTS

$tablet: '768px';
$smallTablet: '625px';
$phone: '425px';
$smallPhone: '375px';

$phoneLandscape: '780px';