// COLORS
$white: #fff;


// FONTS
$basicFont: 'Orbitron', sans-serif;
$barcode: 'Libre Barcode 39 Text';
$basicText: 'Montserrat', sans-serif;



//Z-INDEXS
$z_index_max: 999;
$z_index_med: 500;
$z_index_min: 0;