.view--kontakt{
    @media(max-width: $tablet){
        font-size: 2.5rem;
    }
    .section{
        display: flex;
        flex-direction: column;
    
        .header{
            @include big-bottom-space;

            h3{
                @media(max-width: $tablet){
                    font-size: 6rem;
                }
                @media(max-width: $phone){
                    font-size: 4rem;
                }
            }
            h4{
                @media(max-width: $tablet){
                    font-size: 5rem;
                }
                @media(max-width: $phone){
                    font-size: 2.5rem;
                }
            }

        }
        .contact-item{
            @include medium-bottom-space;

            @media(max-width: $tablet){
                font-size: 3.5rem;
            }
            
            &__name{
                font-weight: bold;
            }
            .link{
                font-style: italic;
            }
        }
    }
}