// default style of each view

.view{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 80%;
}

.anim{
    animation-name: letter_jump;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes letter_jump {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }
}