// default style of each view

.view{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 80%;
    height: 100%;
    overflow-y: scroll; // this scrollbar should be hidden on windows (only his appearance)
    scroll-behavior: smooth; // foor smooth scroling for auto down scrolling

    @media(max-width: $tablet){
        width: 100%;
        padding: 0 3rem;
    }

    &::-webkit-scrollbar{
        width: 0px;
    }

    &--project{
        @media(max-width: $tablet){
            font-size: 2.5rem;
            line-height: 1.5;
        }
    }
}

.anim{
    animation-name: letter_jump;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes letter_jump {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }
}