*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before, *::after{
    // content: '';

}

ol, ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}